{{ define "main" }}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{ .Content }}
            <!-- modify this form HTML and place wherever you want your form -->
          <form
            action="https://formspree.io/f/mvojardv"
            method="POST"
          >
            <input type="name" name="full0name" placeholder="Full name"></input>
            <input type="email" name="email" placeholder="Email"></input>
            <textarea name="message" placeholder="Message"></textarea>
            <!-- your other form fields go here -->
            <button type="submit">Send</button>
          </form>
        </div>
    </div>
</div>
{{ end }}
